/* GENERAL */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #808080;
}


/* UTILITIES */
.container {
  margin: 0 auto;
  width: 1200px;
  position: relative;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.w-50 {
  width: 50%;
}

.col3 {
  float: left;
  width: calc(100% / 3);
  padding: 0px 20px;
  text-align: center;
  margin-top: 40px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.line-height50 {
    line-height: 200px;
}

.translate50y {
  position: relative;
  transform: translateY(50%);
}


/* typography */
a {
  color: #5586bc;
}

h1,
h2,
h3 {
  font-weight: 400;
}

h3.big {
  font-size: 56px;
}

h2.green {
  font-size: 28px;
}

h2.big {
  color: black;
  font-size: 40px;
}

.main-col h2 {
  color: #7cbb02;
  line-height: 1.2;
  padding-top: 20px;
}

.main-col p, .main-entry p {
  font-size: 18px;
  line-height: 1.5;
}

.main-entry h2 {
  color: black;
  font-size: 36px;
}

/* bottoni */
.btn {
  color: white;
  border-radius: 3px;
  min-width: 100px;
  border: 1px solid;
  line-height: 35px;
  text-decoration: none;
  text-transform: uppercase;
}

.btn-trasp {
  background-color: transparent;
}

.btn-green {
  background-color: #7cbb02;
  border-color: #7cbb02;
  min-width: 150px;
  padding: 0px 10px;
}

.large {
  padding: 15px 20px;
  font-size: 16px;
}

/* bottone help */
.help {
  position: fixed;
  z-index: 1;
  bottom: 0;
  right 15%;
  background-color: #7cbb02;
  border-radius: 5px 5px 0px 0px;
  text-align: center;

}

/* HEADER */
header {
  background-color: #0c325a;
  background-image: url(../img/background-header.png);
  background-repeat: no-repeat;
  background-size: 1000px;
  background-position: right bottom;
}

.header-nav {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 80px;
}

.header-nav .header-nav-sx {
  width: 15%;
}

.header-nav img {
  vertical-align: middle;
}

.header-nav .header-nav-center {
  width: 45%;
}

.header-nav .header-nav-dx {
  width: 40%;
}


/* colonna sinistra */


/* colonna centrale */
.list-header-nav-center li {
  display: inline;
  padding: 0px 15px;
}

.list-header-nav-center li a {
  text-decoration: none;
  color: white;
}

/* colonna destra */
.header-nav-dx {
  text-align: right;
}

.list-header-nav-dx li {
  display: inline;
  padding: 0px 15px;
}

.list-header-nav-dx li a {
  text-decoration: none;
  color: white;
}


/* jumbrotron */
.jumbotron {
  height: 480px;
  position: relative;
}

.jumbotron-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.jumbotron-text h1 {
  font-size: 55px;
  line-height: 65px;
  padding-bottom: 30px;
  color: white;
}


/* MAIN */

/* striscia */
.striscia {
  text-align: center;
  background-color: lightgray;
}

.striscia h2 {
  color: black;
  font-size: 30px;
  padding-top: 30px;
}

.striscia p {
  color: gray;
  padding: 10px 0px 30px 0px;
  font-size: 20px;
}

/* sezione colonne main */
.main-col {
    padding-bottom: 30px;
}

.img-main-col {
  height: 150px;
}

.main-col h2::after {
  content: "";
  display: block;
  width: 60px;
  height: 1px;
  background-color: gray;
  margin: 30px auto;
}


/* sezione entry level main*/
.main-entry {
  margin-top: 60px;
}

.main-entry img {
  height: 400px;
  padding-left: 60px;
}

.text-entry {
  width: 40%;
}

.text-entry h2 {
  padding-bottom: 20px;
}

.text-entry p {
  padding-bottom: 20px;
}

/* FOOTER */
.striscia-bottom {
  background-color: lightgray;
  position: relative;
}

.bottom-sx {
  text-align: left;
  width: 30%;
}

.bottom h2 {
  color: black;
  font-size: 30px;
}

.bottom-dx {
  width: 70%;
  text-align: right;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.bottom-dx a {
}

.bottom-dx .selection {
  border-bottom: 1px solid black;
}

.bottom-dx .text {
  padding-right: 80px;
}

.bottom-dx .bottom-dx-parag {
  padding: 0px 30px;
}

.bottom-dx .button-footer {
  padding-left: 50px;
}
