/* GENERAL */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #808080;
}


/* UTILITIES */
.container {
  margin: 0 auto;
  width: 1200px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.w-50 {
  width: 50%;
}

.col3 {
  float: left;
  width: calc(100% / 3);
  padding: 0px 20px;
  text-align: center;
  margin-top: 40px;
}


/* typography */
h1,
h2,
h3 {
  font-weight: 500;
}

h3.big {
  font-size: 56px;
}

h2.big {
  font-size: 28px;
}

.main-col h2 {
  color: #7cbb02;
  line-height: 30px;
  padding-top: 20px;
}

.main-col p {
  font-size: 18px;
}

/* bottoni */
.btn {
  color: white;
  border-radius: 3px;
  min-width: 100px;
  border: 1px solid;
  line-height: 35px;
  text-decoration: none;
  text-transform: uppercase;
}

.btn-trasp {
  background-color: transparent;
}

.btn-green {
  background-color: #7cbb02;
  border-color: #7cbb02;
  min-width: 150px;
  padding: 0px 10px;
}

.large {
  padding: 15px 20px;
  font-size: 16px;
}


/* HEADER */
header {
  background-color: #0c325a;
  background-image: url(../img/background-header.png);
  background-repeat: no-repeat;
  background-size: 1000px;
  background-position: right bottom;
}

.header-nav {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 80px;
}

.float-left {
  float: left;
}

.header-nav .header-nav-sx {
  width: 15%;
}

.header-nav img {
  vertical-align: middle;
}

.header-nav .header-nav-center {
  width: 45%;
}

.header-nav .header-nav-dx {
  width: 40%;
}


/* colonna sinistra */


/* colonna centrale */
.list-header-nav-center li {
  display: inline;
  padding: 0px 15px;
}

.list-header-nav-center li a {
  text-decoration: none;
  color: white;
}

/* colonna destra */
.header-nav-dx {
  text-align: right;
}

.list-header-nav-dx li {
  display: inline;
  padding: 0px 15px;
}

.list-header-nav-dx li a {
  text-decoration: none;
  color: white;
}


/* jumbrotron */
.jumbotron {
  height: 480px;
  position: relative;
}

.jumbotron-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.jumbotron-text h1 {
  font-size: 50px;
  line-height: 65px;
  padding-bottom: 30px;
  color: white;
}


/* MAIN */

/* striscia */
.striscia {
  text-align: center;
  background-color: lightgray;
}

.striscia h2 {
  color: black;
  padding-top: 30px;
}

.striscia h3 {
  color: gray;
  padding: 10px 0px 30px 0px;
}

/* sezione colonne main */
.main-col {
    padding-bottom: 30px;
}

.img-main-col {
  height: 150px;
}

.main-col h2::after {
  content: "";
  display: block;
  width: 60px;
  height: 1px;
  background-color: gray;
  margin: 30px auto;
}


/* sezione entry level main*/
.main-entry {
  margin-top: 60px;
}

.main-entry img {
  height: 400px;
  padding-left: 60px;
}
